<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hello {{ name }},</p>
        <p>Please click the link below to confirm your mail:</p>
        <a href="{{ link }}">Confirm Mail Address</a>
    </body>
</html>