<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Welcome to MyStoryBook, your comprehensive story sharing app to keep you company.</p>
    </body>
</html>